<launch>

    <node pkg="video_publisher" type="video_publisher_node" name="video_vision_node" output="screen" respawn="true">
        <param name="url" value="rtsp://192.168.147.10/mainstream"/>
        <param name="save" value="false"/>
        <param name="image_resize" value="1"/>
        <param name="use_nvdec" value="true"/>
    </node> 

</launch>
