<?xml version="1.0"?>
<robot name="frontec_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find lt_description)/urdf/inc/_kuka_kr210_r2700_dh.xacro" />
    <xacro:kuka_kr210_r2700_dh />


    <xacro:macro name="trans_gazebo" params="joint_name">
        <transmission name="${joint_name}_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${joint_name}">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${joint_name}_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
    <xacro:trans_gazebo joint_name="joint_a1" />
    <xacro:trans_gazebo joint_name="joint_a2" />
    <xacro:trans_gazebo joint_name="joint_a3" />
    <xacro:trans_gazebo joint_name="joint_a4" />
    <xacro:trans_gazebo joint_name="joint_a5" />
    <xacro:trans_gazebo joint_name="joint_a6" />


    <gazebo>
        <plugin name="ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <xacro:macro name="arm_gazebo" params="link">
        <gazebo reference="${link}">
            <!-- <material>Gazebo/White</material> -->
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
    </xacro:macro>

    <xacro:arm_gazebo link="base_arm" />
    <xacro:arm_gazebo link="link_1" />
    <xacro:arm_gazebo link="link_2" />
    <xacro:arm_gazebo link="link_3" />
    <xacro:arm_gazebo link="link_4" />
    <xacro:arm_gazebo link="link_5" />
    <xacro:arm_gazebo link="link_6" />
</robot>