<?xml version="1.0"?>

<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by
Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="hangcha" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="hangcha_chassis">
    <link
      name="base_car">
      <inertial>
        <origin
          xyz="-0.048469 0.049151 0.19264"
          rpy="0 0 0" />
        <mass
          value="20" />
        <inertia
          ixx="1"
          ixy="0"
          ixz="0"
          iyy="1"
          iyz="0"
          izz="1" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://lt_description/meshes/hangcha/base_link.STL" />
          <!-- <box size="1 1 1" /> -->
        </geometry>
        <material
          name="">
          <color
            rgba="0.79608 0.82353 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://lt_description/meshes/hangcha/base_link.STL" />
          <!-- <box size="1 1 1" /> -->
        </geometry>
      </collision>
    </link>
    <link
      name="front_right_link">
      <inertial>
        <origin
          xyz="-1.6659 0.84068 1.2521"
          rpy="0 0 0" />
        <mass
          value="0.1" />
        <inertia
          ixx="0.1"
          ixy="0.0"
          ixz="0.0"
          iyy="0.1"
          iyz="0.0"
          izz="0.1" />

      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://lt_description/meshes/hangcha/front_right_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.79608 0.82353 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://lt_description/meshes/hangcha/front_right_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="front_right_joint"
      type="fixed">
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <parent
        link="front_right_steering_link" />
      <child
        link="front_right_link" />
      <axis
        xyz="0 1 -1.0507E-05" />
    </joint>
    <link
      name="front_left_link">
      <inertial>
        <origin
          xyz="-1.6659 -1.1448 1.2521"
          rpy="0 0 0" />
        <mass
          value="0.1" />
        <inertia
          ixx="0.1"
          ixy="0.0"
          ixz="0.0"
          iyy="0.1"
          iyz="0.0"
          izz="0.1" />

      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://lt_description/meshes/hangcha/front_left_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.79608 0.82353 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://lt_description/meshes/hangcha/front_left_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="front_left_joint"
      type="fixed">
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <parent
        link="front_left_steering_link" />
      <child
        link="front_left_link" />
      <axis
        xyz="0 1 1.0507E-05" />
    </joint>
    <link
      name="back_left_link">
      <inertial>
        <origin
          xyz="0.83511 -1.1348 1.2611"
          rpy="0 0 0" />
        <mass
          value="0.1" />
        <inertia
          ixx="0.1"
          ixy="0.0"
          ixz="0.0"
          iyy="0.1"
          iyz="0.0"
          izz="0.1" />

      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://lt_description/meshes/hangcha/back_left_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.79608 0.82353 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://lt_description/meshes/hangcha/back_left_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="back_left_joint"
      type="fixed">
      <origin
        xyz="-1.25 0.98275 -0.4885"
        rpy="0 0 0" />
      <parent
        link="base_car" />
      <child
        link="back_left_link" />
      <axis
        xyz="0 1 0" />
    </joint>
    <link
      name="back_right_link">
      <inertial>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <mass
          value="0.1" />
        <inertia
          ixx="0.1"
          ixy="0.0"
          ixz="0.0"
          iyy="0.1"
          iyz="0.0"
          izz="0.1" />

      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://lt_description/meshes/hangcha/back_right_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.79608 0.82353 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://lt_description/meshes/hangcha/back_right_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="back_right_joint"
      type="fixed">
      <origin
        xyz="-1.25 -0.99275 -0.4885"
        rpy="0 0 0" />
      <parent
        link="base_car" />
      <child
        link="back_right_link" />
      <axis
        xyz="0 1 0" />
    </joint>


    <!-- steering_link_joint-->
    <link
      name="front_left_steering_link">
      <inertial>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <mass
          value="0.1" />
        <inertia
          ixx="0.1"
          ixy="0.0"
          ixz="0.0"
          iyy="0.1"
          iyz="0.0"
          izz="0.1" />
      </inertial>
    </link>

    <joint name="front_left_steering_joint" type="fixed">
      <origin
        xyz="1.251 0.99275 -0.47951"
        rpy="0 0 0" />
      <parent link="base_car" />
      <child link="front_left_steering_link" />
      <axis xyz="0 0 1" />
      <limit effort="10" velocity="3" lower="-0.5" upper="0.5" />
    </joint>


    <link
      name="front_right_steering_link">
      <inertial>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <mass
          value="0.1" />
        <inertia
          ixx="0.1"
          ixy="0.0"
          ixz="0.0"
          iyy="0.1"
          iyz="0.0"
          izz="0.1" />
      </inertial>
    </link>
    <joint name="front_right_steering_joint" type="fixed">
      <origin
        xyz="1.251 -0.99275 -0.47949"
        rpy="0 0 0" />
      <parent link="base_car" />
      <child link="front_right_steering_link" />
      <axis xyz="0 0 1" />
      <limit effort="10" velocity="3" lower="-0.5" upper="0.35" />
    </joint>


  </xacro:macro>
</robot>