<?xml version="1.0"?>
<robot name="rs_d455" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find realsense2_description)/urdf/_d455.urdf.xacro" />


    <xacro:property name="camera_offset_x" value="-0.00705246" />
    <xacro:property name="camera_offset_y" value="0.015" />
    <xacro:property name="camera_offset_z" value="1.0024883" />
    <xacro:property name="camera_offset_roll" value="1.57079" />
    <xacro:property name="camera_offset_pitch" value="-0.49132" />
    <xacro:property name="camera_offset_yaw" value="0" />
    <xacro:arg name="use_nominal_extrinsics" default="true" />
    <xacro:arg name="camera_name" default="camera" />

    <!-- Camera -->
    <link name="link_2" />
    <joint name="base_camera_joint" type="fixed">
        <origin xyz="${camera_offset_x} ${camera_offset_y} ${camera_offset_z}"
            rpy="${camera_offset_roll} ${camera_offset_pitch} ${camera_offset_yaw}" />
        <parent link="link_2" />
        <child link="base_camera" />
    </joint>
    <link name="base_camera" />
    <xacro:sensor_d455 parent="base_camera"
        use_nominal_extrinsics="$(arg use_nominal_extrinsics)"
        name="$(arg camera_name)">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:sensor_d455>


</robot>